:root {
  --header-height: 120px;
  --nav-width: 250px;
}
:root.nav-closed {
  --nav-width: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  height: var(--header-height);
  width: 100vw;

  gap: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-d1);

  z-index: 1;
}

header .user-name {
  height: 100%;

  padding-left: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  color: var(--text-light);
  font-size: 80px;
  font-weight: var(--bold-font-weight);
}

header .search-bar-wrapper {
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.search-bar {
  height: 48px;
  width: 350px;

  padding: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary);
  color: var(--text-dark);

  font-size: 28px;
  font-weight: var(--regular-font-weight);

  border: none;
  border-radius: var(--medium-border-radius);

  outline: 2px solid transparent;
  outline-offset: 2px;
}
.search-bar:focus {
  outline-color: var(--secondary);
}
.search-bar::placeholder {
  border-color: var(--text-medium);
  opacity: 1;
}

header .btn-wrapper {
  height: 100%;

  padding-right: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header button {
  height: 48px;
  width: 48px;

  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-d2);

  border: none;
  border-radius: var(--small-border-radius);
}
header button:hover {
  background-color: var(--primary-d3);
}
header .light-mode-tooltip {
  top: 90px;
  right: 16px;
}

nav {
  position: fixed;
  top: var(--header-height);
  left: 0;

  height: calc(100vh - var(--header-height));
  width: var(--nav-width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary);
  color: var(--text-light);
}
:root.nav-closed nav {
  display: none;
}

.toggle-nav-btn {
  position: absolute;
  top: calc(var(--header-height) + 16px);
  left: calc(var(--nav-width) + 16px);
  z-index: 1;

  height: 32px;
  width: 32px;

  padding: 8px;

  background-color: var(--primary);
  opacity: 0.25;
  color: var(--text-light);
  font-size: 16px;
  font-weight: var(--bold-font-weight);

  border: none;
  border-radius: var(--small-border-radius);
}
.toggle-nav-btn:hover {
  opacity: 0.5;
}
.toggle-nav-btn:active {
  opacity: 0.75;
}
.toggle-nav-tooltip,
:root.nav-closed .toggle-nav-tooltip {
  left: 0;
}
:root.nav-closed .toggle-nav-btn {
  left: 16px;
}

nav .top-nav {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
nav .bottom-nav {
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

nav .navbar-text {
  height: 72px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: var(--medium-font-weight);
}
nav a {
  height: 44px;
  width: 100%;

  gap: 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: var(--text-light);
  font-size: 20px;
  font-weight: var(--regular-font-weight);
}
nav a:hover {
  background-color: var(--primary-d1);
}
nav a:active {
  background-color: var(--primary-d2);
}

nav img {
  max-height: 24px;
  margin-top: 5px;
}
nav .groups-img {
  margin-top: 3px;
}
nav .request-forms-img {
  margin-top: 3px;
}
nav .about-img {
  max-height: 22px;
}
nav .logout-img {
  max-height: 20px;
  margin-top: 4px;
}

main {
  height: calc(100vh - var(--header-height));
  width: calc(100vw - var(--nav-width));

  margin: var(--header-height) 0 0 var(--nav-width);
  gap: 16px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary);
  color: var(--text-dark);
}
body.no-scroll-bar main {
  width: calc(100vw - var(--nav-width) - 12px);
}

section {
  width: 100%;

  gap: 8px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.start-section {
  border-bottom-left-radius: var(--big-border-radius);
  border-bottom-right-radius: var(--big-border-radius);
}
.middle-section {
  border-radius: var(--big-border-radius);
}
.end-section {
  border-top-left-radius: var(--big-border-radius);
  border-top-right-radius: var(--big-border-radius);
}

.section-title {
  width: 100%;

  margin-bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 56px;
  font-weight: var(--regular-font-weight);
}
.section-body {
  width: 100%;
}
