:root {
    --top-main-height: 48px;
    --min-item-width: 250px;
    --border-radius: 8px;
    --item-height: 264px;

    --item-name-height: 88px;
    --item-availability-height: 40px;
}
.tooltip {
    position: absolute;
    visibility: hidden;
    top: 105%;
    height: 32px;
    width: 104px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    padding: 4px;
    background-color: var(--primary-darker);
    color: var(--text-light);
    font-size: 16px;

    border: none;
    border-radius: var(--border-radius);
}
#top-main #list-tooltip {
    right: -35%;
}
#top-main .button:hover .tooltip {
    visibility: visible;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#left-header {
    height: 100%;
    width: var(--left-header-width);
    padding-left: var(--space-md);
    
    color: var(--text-light);
    justify-content: flex-start;
    align-content: center;

    font-size: 75px;
    font-weight: 700;
}
#right-header {
    height: 100%;
    max-height: var(--max-header-height);
    width: var(--right-header-width);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
#search-bar {
    height: 48px;
    max-height: 50px;
    width: 350px;

    margin-right: var(--space-md);
    padding: var(--space-md);
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--secondary);
    color: var(--text-dark);
    
    font-size: 30px;
    font-weight: 400;

    border: none;
    border-radius: var(--border-radius);
}
#search-bar:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--secondary);
    outline-offset: 2px;
}
#search-bar::placeholder {
    border-color: var(--text-medium);
    opacity: 1;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

#top-main {
    height: 64px;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-top: var(--space-md);
    padding-right: var(--space-md);
    padding-bottom: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
#top-main > .button {
    position: relative;
    height: 48px;
    width: 48px;
    margin: 0px 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
    color: var(--text-light);

    border: none;
    border-radius: var(--border-radius);
}
#top-main > .button:hover {
    background-color: var(--primary-dark);
}
#top-main > .button:active {
    background-color: var(--primary-darker);
    color: var(--text-light);
}
#top-main #grid-img {
    max-height: 36px;
}
#top-main #list-img {
    max-height: 32px;
}
#bottom-main {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-item-width), 1fr));
    justify-items: center;
    align-items: center;
    padding: var(--space-md);
    column-gap: var(--space-md);
    row-gap: var(--space-md);
}
.item {
    height: var(--item-height);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--secondary-dark);
    border: none;
    border-radius: var(--border-radius);

    overflow: hidden;
}
.name {
    width: 100%;
    height: var(--item-name-height);
    padding: var(--space-md) var(--space-md) 8px var(--space-md);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: var(--text-dark);
    font-size: 24px;
    font-weight: 500;

    border: none;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.item .image-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    overflow: hidden;
}
.availability {
    height: var(--item-availability-height);
    width: 100%;
    padding: 8px var(--space-md) var(--space-md) var(--space-md);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
    
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.item:hover {
    background-color: var(--secondary-darker);
}
.item:active {
    background-color: var(--secondary-darkest);
}
img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
}