:root {
  --primary: hsl(210, 15%, 25%);
  --primary-dark: hsl(210, 15%, 20%);
  --primary-darker: hsl(210, 15%, 12.5%);
  --primary-darkest: hsl(210, 15%, 10%);

  --secondary: hsl(35, 5%, 90%);
  --secondary-dark: hsl(35, 5%, 85%);
  --secondary-darker: hsl(35, 5%, 80%);
  --secondary-darkest: hsl(35, 5%, 70%);

  --accent: hsl(40, 40%, 55%);

  --text-dark: rgb(0, 0, 0);
  --text-medium: #3a3a3a;
  --text-light: #ffffff;
}
