body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary);
}

header {
  height: auto;
  width: 100%;

  padding: 16px 32px 0 32px;
  gap: 16px;

 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header a {
  height: 80px;
  width: auto;

  padding: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--text-light);
  font-size: 20px;
  font-weight: var(--regular-font-weight);

  border: none;
  border-radius: var(--medium-border-radius);
}
header a:hover,
header a:active {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

header.text {
  height: 80px;
  width: auto;

  padding: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--text-light);
  font-size: 20px;
  font-weight: var(--regular-font-weight);

  border: none;
  border-radius: var(--medium-border-radius);
}
header button {
  height: 80px;
  width: auto;

  padding: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--text-light);
  font-size: 20px;
  font-weight: var(--regular-font-weight);

  border: none;
  border-radius: var(--medium-border-radius);
}

main {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  height: 600px;
  width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-dark);
  color: var(--text-dark);

  border: 2px solid var(--primary);
  border-radius: var(--big-border-radius);
}

form h1 {
  height: 164px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 48px;
  font-weight: var(--bold-font-weight);
}
label {
  height: 30px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  font-size: 24px;
  font-weight: var(--regular-font-weight);
}

#select-wrapper {
  height: 64px;
  width: 100%;

  padding-top: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
select {
  height: 32px;
  width: 250px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary-darker);
  font-size: 20px;
  font-weight: var(--regular-font-weight);

  border: 2px solid var(--primary);
  border-radius: var(--small-border-radius);
}
select:focus {
  border: none;
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

form #button-wrapper {
  height: 164px;
  width: 100%;

  padding-top: 64px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  color: var(--text-dark);
  font-size: 32px;
  font-weight: var(--thin-font-weight);
}
form button {
  height: 64px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--text-light);
  font-size: 32px;
  font-weight: var(--regular-font-weight);

  border: none;
  border-radius: var(--medium-border-radius);
}
form button:hover,
form button:active {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}
