.section-body {
  gap: 16px;

  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 250px;
  justify-content: center;
  align-items: center;

  color: var(--text-dark);
}
.item {
  height: 100%;
  width: 100%;

  padding: 16px;
  gap: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary-dark);

  border: none;
  border-radius: var(--medium-border-radius);
}
.item:hover {
  background-color: var(--secondary-darker);
}
.item:active {
  background-color: var(--secondary-darkest);
}

.item-name {
  min-height: 64px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: var(--medium-font-weight);

  border: none;
}
.image-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.qty {
  height: 32px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: var(--medium-font-weight);

  border: none;
}

#item-info {
  display: none;
}
