select {
  height: 32px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary-darker);
  font-size: 20px;
  font-weight: var(--medium-font-weight);

  border: 2px solid var(--primary);
  border-radius: var(--small-border-radius);
}
select:focus {
  border: none;
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}
