#left-header {
    height: 100%;
    width: var(--left-header-width);
    
    color: var(--text-light);
    justify-content: flex-start;
    align-content: center;

    font-size: 75px;
    font-weight: 700;
}
#right-header {
    height: 100%;
    max-height: var(--max-header-height);
    width: var(--right-header-width);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
#search-bar {
    height: 48px;
    max-height: 50px;
    width: 350px;

    margin-right: var(--space-md);
    padding: var(--space-md);
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--secondary);
    color: var(--text-dark);
    
    font-size: 30px;
    font-weight: 400;

    border: none;
    border-radius: var(--border-radius);
}
#search-bar:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--secondary);
    outline-offset: 2px;
}
#search-bar::placeholder {
    border-color: var(--text-medium);
    opacity: 1;
}