:root {
  --red: hsl(0, 55%, 45%);
  --orange: hsl(20, 70%, 50%);
  --green: hsl(110, 55%, 35%);
}

#group-members-section,
#checked-out-items-section,
#pending-requests-section {
  background-color: var(--secondary-dark);
}

#group-members-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: var(--text-medium);
  font-size: 24px;
  font-weight: var(--regular-font-weight);
}

.item {
  width: 80%;

  padding: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-darker);
  color: var(--text-medium);

  border: none;
  border-radius: var(--medium-border-radius);
}
#checked-out-items-section .item {
  min-height: 200px;
}
#pending-requests-section .item {
  height: 200px;
}

.item-img-wrapper {
  height: 100%;
  width: 200px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 28px;
  font-weight: var(--regular-font-weight);
}
#checked-out-items-section .item-name {
  height: 80px;
  align-items: flex-end;
}
#pending-requests-section .item-name {
  height: 100%;
  align-items: center;
}
#checked-out-items-section .items-owned {
  height: 100%;
  width: 100%;

  gap: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
}
#checked-out-items-section .serial-ID {
  min-height: 80px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 20px;
  font-weight: var(--regular-font-weight);
}
.item-qty {
  margin-right: 12px;
  font-weight: var(--bold-font-weight);
}

.buttons-wrapper {
  height: 100%;
  width: 200px;
  flex-shrink: 0;

  gap: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
section a,
section button {
  height: 48px;
  width: 200px;

  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-light);
  font-size: 16px;
  font-weight: var(--regular-font-weight);

  border: none;
  border-radius: var(--small-border-radius);
}
.return-item-button {
  background-color: var(--green);
}
.return-item-button:hover,
.return-item-button:active {
  background-color: transparent;
  border: 2px solid var(--green);
  color: var(--green);
}
.report-broken-button {
  background-color: var(--orange);
}
.report-broken-button:hover,
.report-broken-button:active {
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
}
.cancel-request-button {
  background-color: var(--red);
}
.cancel-request-button:hover,
.cancel-request-button:active {
  background-color: transparent;
  border: 2px solid var(--red);
  color: var(--red);
}
