:root {
  --red: hsl(0, 55%, 45%);
  --green: hsl(110, 55%, 35%);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 8px;

  overflow-y: auto;
}

.request {
  height: 100px;
  width: 80%;

  padding: 8px;
  gap: 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-d1);

  border: none;
  border-radius: var(--medium-border-radius);
}

.request-left-side {
  height: 100%;
  width: 150px;
  flex-shrink: 0;

  gap: 4px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
time {
  height: 24px;
  width: 100%;

  padding: 0 8px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-size: 16px;
  font-weight: var(--medium-font-weight);
}
#groups-item-requests .img-wrapper {
  height: calc(100% - 24px);
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.request-info {
  height: 100%;
  width: 100%;

  gap: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text-medium);
}
.group-name {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  font-size: 24px;
  font-weight: var(--medium-font-weight);
}
.item-name {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  font-size: 20px;
  font-weight: var(--regular-font-weight);

  border: none;
}
.item-qty {
  margin-right: 12px;
  font-weight: var(--bold-font-weight);
}

.request .btn-wrapper {
  height: 100%;
  width: 200px;

  gap: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.request button {
  height: 32px;
  width: 150px;

  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-light);
  font-size: 12px;
  font-weight: var(--regular-font-weight);

  border: 2px solid transparent;
  border-radius: var(--small-border-radius);
}
.approve-button {
  background-color: var(--green);
  border-color: var(--green);
}
.approve-button:hover,
.approve-button:active {
  background-color: transparent;
  color: var(--green);
  border-color: var(--green);
}
.decline-button {
  background-color: var(--red);
  border-color: var(--red);
}
.decline-button:hover,
.decline-button:active {
  background-color: transparent;
  color: var(--red);
  border-color: var(--red);
}
