:root {
  --green: hsl(110, 55%, 35%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.section-title {
  position: relative;
}
#teacher-buttons {
  position: absolute;
  top: 13px;
  right: 0px;

  gap: 8px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#teacher-buttons button {
  position: relative;

  height: 48px;
  width: 48px;

  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--text-light);

  border: none;
  border-radius: var(--small-border-radius);
}
#delete-tooltip {
  right: 0;
}
#teacher-buttons > button:hover {
  background-color: var(--primary-dark);
}
#teacher-buttons > button:active {
  background-color: var(--primary-darker);
}

#groups-container {
  gap: 16px;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: auto;

  justify-content: center;
  align-items: center;

  color: var(--text-dark);
}
.group {
  height: 100%;
  width: 100%;

  padding: 16px;
  gap: 12px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary-dark);

  border: none;
  border-radius: var(--medium-border-radius);
}
.group:hover {
  background-color: var(--secondary-darker);
}
.group:active {
  background-color: var(--secondary-darkest);
}

.group-name {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: var(--medium-font-weight);
}
.group-members {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 16px;
  font-weight: var(--regular-font-weight);
}
.any-request-forms {
  height: 20px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: var(--medium-font-weight);
}
#request-forms-indicator {
  height: 100%;
  width: 20px;

  margin-left: 4px;
  margin-bottom: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--green);
  font-size: 40px;
}
