body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary);
}

header {
  height: 100px;
  width: 100%;

  padding: 16px 32px 8px 32px;
  gap: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header a {
  height: 64px;
  width: auto;

  padding: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);

  border: none;
  border-radius: var(--medium-border-radius);
}
header a:hover,
header a:active {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}
header a p {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-light);
  font-size: 20px;
  font-weight: var(--regular-font-weight);
}

main {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  height: 450px;
  width: 450px;

  padding: 2%;
  gap: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-dark);
  color: var(--text-dark);

  border: 2px solid var(--primary);
  border-radius: var(--big-border-radius);
}

#form-title {
  width: 100%;

  margin-bottom: 64px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 48px;
  font-weight: var(--bold-font-weight);
}
label {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: var(--regular-font-weight);
}

#select-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  height: 36px;
  width: 250px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--secondary-darker);
  font-size: 20px;
  font-weight: var(--regular-font-weight);

  border: 2px solid var(--primary);
  border-radius: var(--small-border-radius);
}
select:focus {
  border: none;
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

#input-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  height: 36px;
  width: 250px;

  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-darker);
  font-size: 20px;
  font-weight: var(--regular-font-weight);

  border: 2px solid var(--primary);
  border-radius: var(--small-border-radius);
}
input:focus {
  border: none;
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

#button-wrapper {
  width: 100%;

  margin-top: 64px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
button {
  height: 64px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--text-light);
  font-size: 32px;
  font-weight: var(--regular-font-weight);

  border: none;
  border-radius: var(--medium-border-radius);
}
form button:hover,
form button:active {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}
