:root {
  --header-height: 100px;
  --max-header-height: 128px;

  --nav-width: 200px;
  --max-nav-width: 240px;
  --top-navbar-height: 100%;
  --bottom-navbar-height: 100px;
  --button-height: 48px;
}
body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  height: var(--header-height);
  width: 100vw;

  gap: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-dark);
  color: var(--text-light);

  z-index: 1;
}
header #left-header {
  height: 100%;

  padding-left: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-size: 64px;
  font-weight: var(--bold-font-weight);
}
header #right-header {
  height: 100%;

  padding-right: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header button {
  height: 48px;
  width: 48px;

  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-darker);

  border: none;
  border-radius: var(--small-border-radius);
}
header button:hover {
  background-color: var(--primary-darkest);
}
header #light-mode-tooltip {
  top: 93px;
  right: 16px;
}

nav {
  position: fixed;
  top: var(--header-height);
  left: 0;

  height: calc(100vh - var(--header-height));
  width: var(--nav-width);
  max-width: var(--nav-max-width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary);
  color: var(--text-light);
}
nav #top-navbar {
  height: var(--top-navbar-height);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
nav #bottom-navbar {
  height: var(--bottom-navbar-height);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

nav #menu-text {
  height: 72px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 35px;
  font-weight: var(--medium-font-weight);
}
nav a {
  height: var(--button-height);
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: var(--text-light);
  font-size: 18px;
  font-weight: var(--regular-font-weight);
}
nav a:hover {
  background-color: var(--primary-dark);
}
nav a:active {
  background-color: var(--primary-darker);
}
nav img {
  max-height: 24px;
}
nav #logout-img {
  max-height: 20px;
}

main {
  position: absolute;
  top: var(--header-height);
  left: var(--nav-width);
  bottom: 0;
  right: 0;

  overflow-y: auto;

  background-color: var(--secondary);
}
