:root {
  --header-height: 120px;
  --nav-width: 250px;
}
:root.nav-collapsed {
  --nav-width: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;

  height: var(--header-height);
  width: 100vw;

  gap: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-dark);
  color: var(--text-light);

  z-index: 1;
}
header #left-header {
  height: 100%;

  padding-left: 24px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-size: 80px;
  font-weight: var(--bold-font-weight);
}
header #right-header {
  height: 100%;

  padding-right: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header button {
  height: 48px;
  width: 48px;

  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-darker);

  border: none;
  border-radius: var(--small-border-radius);
}
header button:hover {
  background-color: var(--primary-darkest);
}
header #light-mode-tooltip {
  top: 90px;
  right: 16px;
}

nav {
  position: fixed;
  top: var(--header-height);
  left: 0;

  height: calc(100vh - var(--header-height));
  width: var(--nav-width);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--primary);
  color: var(--text-light);
}
:root.nav-collapsed nav {
  display: none;
}
#hide-nav {
  position: absolute;
  top: calc(var(--header-height) + 20px);
  left: calc(var(--nav-width) + 16px);

  height: 32px;
  width: 32px;

  padding: 8px;

  background-color: var(--primary);
  opacity: 0.25;
  color: var(--text-light);
  font-size: 16px;
  font-weight: var(--bold-font-weight);

  border: none;
  border-radius: var(--small-border-radius);

  z-index: 999;
}
#hide-nav:hover {
  opacity: 0.5;
}
#hide-nav:active {
  opacity: 0.75;
}
:root.nav-collapsed #hide-nav {
  left: 16px;

  transform: rotate(180deg);
}

nav #top-navbar {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
nav #bottom-navbar {
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

nav #menu-text {
  height: 72px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: var(--medium-font-weight);
}
nav a {
  height: 44px;
  width: 100%;

  gap: 8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: var(--text-light);
  font-size: 20px;
  font-weight: var(--regular-font-weight);
}
nav a:hover {
  background-color: var(--primary-dark);
}
nav a:active {
  background-color: var(--primary-darker);
}

nav img {
  max-height: 24px;
  margin-top: 5px;
}
nav #groups-img {
  margin-top: 3px;
}
nav #request-forms-img {
  margin-top: 3px;
}
nav #about-img {
  max-height: 22px;
}
nav #logout-img {
  max-height: 20px;
  margin-top: 4px;
}

main {
  position: absolute;
  top: var(--header-height);
  left: var(--nav-width);
  bottom: 0;
  right: 0;

  overflow-y: auto;

  background-color: var(--secondary);
}
