:root {
    --top-main-height: 48px;
    --min-group-width: 250px;
}
.tooltip {
    position: absolute;
    visibility: hidden;
    top: 105%;
    height: auto;
    width: auto;

    padding: 4px 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    background-color: var(--primary-darker);
    color: var(--text-light);
    font-size: 16px;

    border: none;
    border-radius: var(--border-radius);
}
#top-main .button:hover .tooltip {
    visibility: visible;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

#top-main {
    height: 64px;
    width: 100%;
    padding-top: var(--space-md);
    padding-right: var(--space-md);
    padding-bottom: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
#top-main > .button {
    position: relative;
    height: 48px;
    width: 48px;
    margin: 0px 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
    color: var(--text-light);

    border: none;
    border-radius: var(--border-radius);
}
#top-main > .button:hover {
    background-color: var(--primary-dark);
}
#top-main > .button:active {
    background-color: var(--primary-darker);
    color: var(--text-light);
}
#top-main #grid-img {
    max-height: 36px;
}
#top-main #list-img {
    max-height: 32px;
}

#bottom-main {
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-group-width), 1fr));
    justify-items: center;
    align-items: center;
    padding: var(--space-md);
    column-gap: var(--space-md);
    row-gap: var(--space-md);
}
.group {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--secondary-dark);
    border: none;
    border-radius: var(--border-radius);

    overflow: hidden;
}
.group-name {
    width: 100%;
    height: auto;

    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: var(--text-dark);
    font-size: 32px;
    font-weight: 500;

    border: none;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.group-members-wrapper {
    min-height: 80px;
    width: 100%;

    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    font-size: 16px;
    font-weight: 400;

    list-style-position: outside;
}
.request-status {
    height: auto;
    width: 100%;

    padding-top: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-dark);
    font-size: 16px;
    font-weight: 600;
}
.report-status {
    height: auto;
    width: 100%;
    
    padding-bottom: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-dark);
    font-size: 16px;
    font-weight: 600;
    
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.group:hover {
    background-color: var(--secondary-darker);
}
.group:active {
    background-color: var(--secondary-darkest);
}
img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
}